@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body,
#wrapper {
  @apply h-full;
}

body {
	@apply bg-white;
	@apply text-darkPurple;

  @apply bg-no-repeat bg-cover;
  background-position: center 3rem;
  background-image: url('/images/bg-light.svg');

  .intro {
    background-image: url('/images/intro-light.svg');
  }
  
  .stripe {
    @apply bg-stripeLight;
  }

  article.page {
    header {
      @apply w-full;
      @apply lg:max-w-4xl xl:max-w-6xl;
      @apply mx-auto;
      @apply rounded-md;
      @apply mb-8;

      img {
        @apply rounded-md;
        @apply w-full;
      }
    }
      
    main {
      @apply flex flex-row lg:gap-8;
      @apply mb-12;
      @apply px-5 sm:px-3 md:px-0;

      @apply lg:max-w-4xl xl:max-w-6xl;
      @apply md:mx-auto;
      @apply items-start;

      aside {
        @apply flex-col;
        @apply w-1/12;
        @apply z-0;
        @apply sticky;
        top: 105px;
        @apply flex;
        @apply lg:w-1/5;

        @apply text-darkPurple;
      }

      .content {
        @apply max-w-xl;

        @apply text-darkPurple dark:text-gray-100;

        .page-topper {
          @apply pb-5;

          h1 {
            @apply font-raleway font-bold text-3xl md:text-4xl;
            @apply mb-4;

            background: linear-gradient(
              90deg,
              rgba(255, 0, 255, 1) 0%,
              rgba(0, 255, 255, 1) 100%
            );
            -webkit-text-fill-color: transparent;
            @apply bg-clip-text;
          }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          @apply inline-block;
          @apply font-raleway font-bold;
          @apply py-1 px-3;
          @apply text-white dark:text-darkPurple;
          @apply bg-blue-500 dark:bg-bbbblue;
          @apply my-8;
        }

        h1 {
          @apply mt-0;
        }
        h2 {
          @apply text-3xl;
        }
        h3 {
          @apply text-2xl;
        }
        h4,
        h5,
        h6 {
          @apply text-xl;
        }

        p {
          @apply text-lg;
          @apply py-3;
        }

        blockquote {
          @apply bg-stripeLight dark:bg-stripeDark;
          @apply text-darkPurple dark:text-gray-200;
          @apply py-6 px-10 my-4 italic;
          @apply font-raleway;
          @apply text-sm;
          @apply rounded-sm;
        }

        img {
          @apply py-3;
        }

        a {
          @apply text-blue-500 dark:text-bbbpink;

          @apply border-b-2 border-transparent;

          &:hover {
            border-image-slice: 1;
            border-image-source: linear-gradient(to right, #ff00ff, #00ffff);
          }
        }

        .nuxt-content-highlight {
          @apply py-3;
        }

        ul {
          @apply bg-stripeLight;
          @apply my-3;

          li {
            @apply p-3;

            &:not(:last-child) {
              @apply border-b border-blue-100;
            }

            &:before {
              content: '';
              @apply inline-block;
              @apply h-full w-5;
              @apply p-2;
              @apply mr-4;
              @apply text-darkPurple;

              background-position: center;
              background-image: url('/images/check.svg');
              @apply bg-no-repeat;
            }
          }
        }

        code {
          @apply text-base italic;
          @apply bg-stripeLight font-fira px-1 mx-1;
        }

        pre {
          @apply rounded-md;
          code {
            @apply text-base not-italic;
            @apply bg-transparent px-0 mx-0;
          }
        }
      }
    }
  }

  &.dark {
    @apply bg-darkPurple text-gray-100;
    background-image: url('/images/bg-dark.svg');

    .stripe {
      @apply bg-stripeDark;
    }
    
    .intro {
      background-image: url('/images/intro-dark.svg');
    }
    
    article.page {
      aside {
        @apply text-gray-100;
      }
      main {

        .content {
          @apply text-gray-100;

          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            @apply text-darkPurple;
            @apply bg-bbbblue;
          }

          blockquote {
            @apply bg-stripeDark;
            @apply text-gray-200;
          }

          a {
            @apply text-bbbpink;
            
          }
        }
      }
    }
  }
}

  
#wrapper {
  @apply flex flex-col;

}

header {
  @apply w-full;
  @apply flex flex-col;

  section {
    @apply flex justify-between;
    @apply my-6 mx-auto;
    @apply px-4;
    @apply w-full;
    @apply lg:max-w-4xl xl:max-w-6xl;

    @apply text-gray-900 dark:text-white;
        
    .end {
      @apply flex flex-row items-center;
      @apply justify-end;
    }
        
    .logo {
      @apply text-gray-900 dark:text-white;
      @apply text-4xl;
    }
  }
}

footer {
  @apply px-8 py-8;
  @apply flex flex-row;
  @apply sm:gap-16;
  @apply md:px-16 md:pt-12;
  @apply font-raleway;

  section {
    @apply mx-auto;
    @apply w-full h-full;
    @apply lg:max-w-4xl xl:max-w-6xl;
    @apply flex flex-row items-center gap-20;
    flex: 0 1 auto;

    .logo {
      @apply hidden;
      @apply self-start;
      @apply sm:flex;
      @apply sm:w-64;
      @apply text-4xl;
      @apply text-darkPurple dark:text-gray-100;
    }
    nav {
      @apply flex gap-8 justify-between flex-row flex-wrap;
      @apply md:gap-20 md:justify-start;

      ul {
        @apply flex flex-col gap-4;

        li {
          @apply uppercase;

          .svg-icon {
            @apply mx-2;
          }
          
          a {
            @apply flex items-center;
            @apply text-blue-500 dark:text-bbbpink;
            @apply font-normal;

            &:hover {
              @apply text-darkPurple dark:text-gray-100;
            }

            &.github:hover span {
              @apply text-red-500;
            }
            &.uses:hover span {
              @apply text-purple-500;
            }
            &.patreon:hover span {
              @apply text-brand-patreon;
            }
          }

          &.socials {
            @apply pt-8;

            > ul {
              @apply flex flex-row gap-3;
              @apply text-lg;

              .twitter:hover {
                @apply text-brand-twitter;
              }
              .linkedin:hover {
                @apply text-brand-linkedin;
              }
              .instagram:hover {
                @apply text-brand-instagram;
              }
              .youtube:hover {
                @apply text-brand-youtube;
              }
              .discord:hover {
                @apply text-brand-discord;
              }
              .twitch:hover {
                @apply text-brand-twitch;
              }
            }
          }
        }
      }
    }
  }

}
